.form-group{
    padding: 0 30px ;
}
.form-group-s{
    display: flex;
    .mat-form-field{
        width: 100%;
        font-size: 14px;
    }
}
.reg-btn{
    background-color: #b5d8f7;
    border: 2px solid #b5d8f7;
    color: black;
    font-size: 18px;
    height: 40px;
    width: 190px;
}
.enter-btn{
    
    background-color: white;
    border: 2px solid #b5d8f7;
    color: black;
    font-size: 18px;
    height: 40px;
    width: 190px;
    margin-right: 40px;
}