<div style="height: 40px;"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="center text-center">
            <h1>Кабінет</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-10 col-12">
            <div class="simple-page">
                <h3><strong>Monosushi –</strong><strong> доставка неймовірно смачних суші у
                        Львові</strong><strong>.</strong></h3>
                <h3>Вітаємо вас у кабінеті.</h3>
                <p>Переходьте на головну сторінку або на будь-яку вкладку та замовляйте найулюбленіші суші</p>
                <p>Чому ми?</p>
                <ul>
                    <li>висока якість їжі та сервісу</li>
                    <li>команда професіоналів</li>
                    <li>сучасні технології приготування</li>
                </ul>

            </div>
        </div>
    </div>
</div>