<div style="height: 40px;"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="center text-center">
            <h1>Акції</h1>
        </div>
    </div>
</div>
<div style="height: 40px;"></div>
<div class="actions">
    <ng-container *ngFor="let action of actionsList" class="actions_block">
            <div class="card" style="width: 18rem;">
                <img [src]="action.imagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{ action.title }}</p>
                </div>
            </div>
    </ng-container>

</div>