<form [formGroup]="authForm">
    <div *ngIf="isLogin" class="form-group">
        <h3 class="fw-bold">Вхід в кабінет</h3>
        <div class="form-group">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Ваш email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Пароль</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="loginUser()" class="fw-bold" mat-dialog-close [disabled]="!authForm.value.email || !authForm.value.password">Увійти в кабінет</button>
        <button mat-button (click)="changeIsLogin()" class="fw-bold">Зареєсруватись</button>
    </div>
    <div *ngIf="!isLogin" class="form-group">

        <h3 class="fw-bold">Вхід в кабінет</h3>
        <div class="form-group-s">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Ім'я</mat-label>
                <input matInput type="text" formControlName="fName">
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Прізвище</mat-label>
                <input matInput type="text" formControlName="lName">
            </mat-form-field>
        </div>
        <div class="form-group-s">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Телефон</mat-label>
                <input matInput type="text" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="form-group-s">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Ваш email</mat-label>
                
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div class="form-group-s">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Пароль</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        
        <button mat-flat-button color="primary" (click)="registerUser()" [disabled]="authForm.invalid" class="fw-bold">Зареєсруватись</button>
        <div class="">
            <span style="margin-top: 10px;" >Вже зареєстровані?</span>
            <button class="enter-btn fw-bold" mat-button (click)="changeIsLogin()" >Увійти</button>

        </div>
    </div>
</form>
